body {
  margin: 0;
  padding: 0;
  background-color: #fdfffe;
 

}


.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color:rgb(22, 10, 124);
  margin: 0;
  color: white;
  padding: 0;
 
}

.header img {
  width: 100px;
}

.branding {
  display: flex;
  align-items: center;
}

.get-in-touch {
  border-radius: 10px;
  width: 200px; /* Adjust width as needed */
  font-size: 20px;
  height: 40px; /* Adjust height as needed */
  border:  1px solid black;
}
.get-intouch {
  border-radius: 10px;
  width: 200px; /* Adjust width as needed */
  font-size: 20px;
  height: 40px; /* Adjust height as needed */
  border:  1px solid black;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  margin-right: 20px;

}
h4{
  color:#6a5f8a;
}
.navbar a::after {
  content: '';
  position: absolute;
  bottom: -2px; 
  left: 0;
  width: 0;
  height: 2px; 
  background-color: #ffffff; 
  transition: width 0.3s ease; 
}

.navbar a:hover::after {
  width: 100%; 
}
.description {

 
  justify-content: center;
 display: flex;
 
align-items: center;

margin: 40px;



  padding: 0;
}
.description img{
  width: 30%;

  


}
.title {

  color: rgb(22, 10, 124);
  font-size: 30px;


}
.about-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.about-section h1{
  color: rgb(22, 10, 124);
  font-size: 40px;

}
.about-section p{
  font-size: 30px;

 
}
.reasons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:20px;
  padding: 20px;
  margin-top: 40px;
  


}
.reason {
  position: relative; /* Required for absolute positioning of the icon */
  border: 2px solid black;
  padding: 20px;
  border-radius: 20px;
  text-align: center; /* Center text horizontally */
}

.reason i {
  position: absolute;
  top: -30px; /* Adjust this value to fine-tune the vertical positioning */
  left: 50%;
  transform: translateX(-50%);
  background-color:rgb(22, 10, 124);
  color: white;
  padding: 20px; /* Increase or decrease the padding to change the size of the icon */
  font-size: 40px; 
  border-radius: 50%; /* To make the background circular */
}

.reason h1 {
  text-align: center;
  padding-top: 20px;
  font-size: 30px;
}

.services-section{
  background-color: rgb(74, 188, 233);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}
.services-section p{
  font-size: 30px;

}
