
body{
  margin: 0;
  padding: 0;

}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
background-color: #dddddd;
  margin: 0;
  color: rgb(22, 10, 124);
  padding: 0;
 
}

.header img {
  width: 100px;
}

.branding {
  display: flex;
  align-items: center;
}

.get-in-touch {
  border-radius: 10px;
  width: 200px; /* Adjust width as needed */
  font-size: 20px;
  height: 40px; /* Adjust height as needed */
  border:  1px solid black;
}
.get-intouch {
  border-radius: 10px;
  width: 200px; /* Adjust width as needed */
  font-size: 20px;
  height: 40px; /* Adjust height as needed */
  border:  1px solid black;
}

.navbar a {
  text-decoration: none;
  color: rgb(22, 10, 124);
  font-size: 18px;
  margin-right: 20px;

}

.navbar a::after {
  content: '';
  position: absolute;
  bottom: -2px; 
  left: 0;
  width: 0;
  height: 2px; 
  background-color: #ffffff; 
  transition: width 0.3s ease; 
}

.navbar a:hover::after {
  width: 100%; 
}
.description {
  position: relative; /* Position relative for absolute positioning */
 
  justify-content: space-around;
 

  padding: 0;
}
.description img{
  width: 100%;
}
.title {
  position: absolute;
top: 10%;
  left: 50%; /* Position at 50% from the left */
  transform: translate(-50%, -20%); /* Center horizontally and vertically */
  text-align: center; /* Center text */
  color: rgb(22, 10, 124);
  font-size: 30px;
}
