.about-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  }
  .about-section h1{
    color: rgb(22, 10, 124);
    font-size: 40px;
  padding: 4px;
  text-align: center;
  
  }
  .about-title{
    color: rgb(22, 10, 124);
    font-size: 40px;
    padding-bottom: 10px;
    border-bottom: 3px solid rgb(22, 10, 124);
  }
  .about-section p{
    font-size: 20px;
    color:#3a383f;
  
   
  }
  .reasons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 70px;
    margin-top: 80px;
  }
  
  .reason {
    flex: 0.2;
    width: 400px;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgb(22, 10, 124);
    cursor: pointer;
  
  }
  .reason:hover {
    transform: scale(1.14);

   
  }
  .reason .fa-icon {
    position: relative;
    top: -50px;
    background-color: rgb(22, 10, 124);
    color: white;
    padding: 20px;
    margin: 0;
    font-size: 40px;
    border-radius: 50%;
    width: auto;
  
  }
  
  .reason h1 {
   
    font-size: 25px;
    font-weight: bolder;
  }
    

  .reason p {
   
    font-size: 20px;
    padding-top: 10px;
  }

  @media (max-width: 1683px){
    .reason{
width: 300px;
    }
  }

  @media (max-width: 1253px){
    .reason{
width: 200px;
    }
    .about-section{
      max-width: 70%;
      margin-left: 100px;
     
          }
        
  }
  @media (max-width: 900px){
    .reasons{

      display: flex;
      
      flex-direction: column;
  
    }
    .reason{
      width: 700px;
      
    }

  }
  @media (min-width: 500px) and (max-width: 842px){
    .about-section{
      max-width: 80%;
      margin-left: 100px;
    }
.reason{
width: 100%;
}
  }
  @media (max-width: 500px){

  .about-section{
    display: flex;
    align-items: flex-start;
    padding: 10px;
    margin: 20px;
 

  }
    .reasons{

display: flex;

flex-direction: column;
align-items: center;
justify-content: center;
padding-right: 6px;



    }
    .reason{
      width: 300px;
    }
  
          .about-title {
            font-size: 22px;
            text-align: center;
            margin: 30px;
          padding-left: 30px;
          margin-left: 20px;
          width: 100%;
          margin: 0 auto;
     
          
          }
  }
