.about-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  }
  .about-section h1{
    color: rgb(22, 10, 124);
    font-size: 40px;
  padding: 4px;
  
  }
  .about-title{
    color: rgb(22, 10, 124);
    font-size: 40px;
    padding-bottom: 10px;
    border-bottom: 3px solid rgb(22, 10, 124);
  }
  .about-section p{
    font-size: 20px;
    color:#3a383f;
  
   
  }
  .reasons {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px;
    margin-top: 80px;
  }
  
  .reason {
    flex: 0.2;
    width: 400px;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgb(22, 10, 124);
  
  }
  
  
  .reason .fa-icon {
    position: relative;
    top: -50px;
    background-color: rgb(22, 10, 124);
    color: white;
    padding: 20px;
    margin: 0;
    font-size: 40px;
    border-radius: 50%;
  
  }
  
  .reason h1 {
   
    font-size: 25px;
    font-weight: bolder;
  }
  
  .reason p {
   
    font-size: 20px;
    padding-top: 10px;
  }