 body {
  margin: 0;
  padding: 0;

 background-color:#f9f9f9;


} 
/* .header {
  display: flex;
  align-items: center;
  justify-content: space-around;
background-color:  rgb(22, 10, 124);
  margin: 0 auto;
  color: #f9f9f9;;
  padding: 10px;
 
} */

/* .header img {
  width: 70px;
} */

/* .branding {
  display: flex;
  align-items: center;
  justify-content: center;

} */
/* .branding h2 {
  font-size: 20px;
}

.branding h2 span {
  margin-right: 10px; 
} */


/* .get-in-touch {
  border-radius: 10px;
  width: 200px; 
  font-size: 17px;
  height: 40px; 
  background-color: #ccc;
  color: rgb(22, 10, 124);
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  line-height: 20px; 
} */

.get-intouch {
  border-radius: 10px  ;
  width: 200px  ; 
  font-size: 17px  ;
  height: 40px  ; 
  background-color: #ccc  ;
  color: rgb(22, 10, 124)  ;
  cursor: pointer  ;
  transition: background-color 0.3s ease  ;
  text-align: center  ;
  margin-top: 20px  ;
  line-height: 18px  ; 
}

.get-intouch .contact-link {
  text-decoration: none;
   color: rgb(22, 10, 124)  ;
  display: block; /* Ensures the link fills the button */

  height: 100%;
  text-align: center; /* Center the text */
  
}
/* .navbar a {
  text-decoration: none;
  color: #f9f9f9;;
  font-size: 20px;
  text-align: center;
  margin-right: 20px;
  padding-right: 30px;
  position: relative;

  
 

} */
h4{
  color:#6a5f8a  ;
}
/* .navbar a:hover {
  color:  rgb(22, 10, 124);
} */
/* .navbar a::after {
  content: '';
  position: absolute;
  width: 75%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: transparent;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
} */


/* .navbar a:hover::after {
  visibility: visible;
  transform: scaleX(1);
  background-color: rgb(22, 10, 124);
} */




.description {
  justify-content: center ;
  display: flex  ;
  align-items: center  ;
  margin: 40px  ;
  background: linear-gradient(30deg, #a598ec, rgb(22, 10, 124), rgb(22, 10, 124), #ccc)  ;
  padding: 10px  ;
  max-width: 100%  ;
}

.description img {
  width: 30% ;
  margin-right: 80px 
}

.title {
  color: #f9f9f9 ;
  font-size: 17px ;
  max-width: 760px  ;

  
}

.title p {
  font-size: 25px;
  padding-top: 30px  ;
  font-weight: 400;
}




.footer-rights{
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
  color: rgb(22, 10, 124);
}

@media (max-width: 1100px) {
  .description {
  
    padding: 20px;
   
  }
}
@media (max-width: 978px) {
  .description {
    flex-direction: column;
    align-items: center;
  
    justify-content: center;
   
    width:85%;
  }
}

@media (max-width: 701px) {
  .description {
    flex-direction: column;
    align-items: center;
  
    justify-content: center;
   
    width:85%;
  }

  .description .title {
    max-width: 100%;
  }

  .description h1 {
    font-size: 25px;
    padding-top: 20px;
  }

  .title p {
    font-size: 20px;
  }

  .description img {
    width: 100%;
    margin-left: 80px;
  }
  .footer-rights{
    font-size: 15px;
  }

} 