body {
  margin: 0;
  padding: 0;
  /* background-color: #fdfffe; */
background-color: #e4eee9;
 background-color: #f9f9f9;;

}
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
background-color:  rgb(22, 10, 124);
  margin: 0 auto;
  color: #f9f9f9;;
  padding: 10px;
 
}

.header img {
  width: 70px;
}

.branding {
  display: flex;
  align-items: center;
  justify-content: center;

}
.branding h2 {
  font-size: 20px;
}

.branding h2 span {
  margin-right: 10px; /* Adjust the margin as needed */
}


.get-in-touch {
  border-radius: 10px;
  width: 200px; 
  font-size: 17px;
  height: 40px; 
  background-color: #ccc;
  color: rgb(22, 10, 124);
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  line-height: 20px; 
}

.get-intouch {
  border-radius: 10px;
  width: 200px; 
  font-size: 17px;
  height: 40px; 
  background-color: #ccc;
  color: rgb(22, 10, 124);
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  margin-top: 20px;
  line-height: 18px; 
}

.navbar a {
  text-decoration: none;
  color: #f9f9f9;;
  font-size: 20px;
  text-align: center;
  margin-right: 20px;
  padding-right: 30px;
  position: relative;

  
 

}
h4{
  color:#6a5f8a;
}
.navbar a:hover {
  color:  rgb(22, 10, 124);
}
.navbar a::after {
  content: '';
  position: absolute;
  width: 75%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: transparent;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}


.navbar a:hover::after {
  visibility: visible;
  transform: scaleX(1);
  background-color: rgb(22, 10, 124);
}
.nav-btn {
  display: none;
}


.horizontal-line-container {
  display: flex;
  justify-content: center;
}

.horizontal-line {
  width: 90%; /* Adjust the width as needed */
  height: 2px; /* Adjust the height as needed */
  background-color: rgb(58, 80, 202); /* Adjust the color as needed */
  margin: 15px 0 10px; /* Adjust the margin as needed */
}


.description {

 
  justify-content: center;
 display: flex;
 
align-items: center;

margin: 40px;
background-color:  rgb(22, 10, 124);


  padding: 0;
}
.description img{
  width: 30%;

  


}
.title {

  color: #f9f9f9;;
  font-size: 17px;
  max-width: 760px;



}
.title p{
  font-size: 25px;
  padding-top: 30px;
}




.footer{
  font-size: 20px;
  text-align: center;
  padding-top: 20px;
  color: rgb(22, 10, 124);
}

  
