.service-web {

padding: 0;
margin: 0;
width: 203vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.description-service{
 max-width: 1200px;

 
}
.description-service p{
    padding-bottom: 20px;
   
    
   }
   .description-service h2{
    padding-bottom: 20px;
   
    
   }
.service-web img{
    width: 40%;
    margin: 0;
}
.services-list {
    list-style-type: none;
    padding: 0;
}

.services-list li {
    margin-bottom: 25px;
  
list-style-type: circle;
color: #3a383f;
font-size: 20px;
}


.services-list h3 {
    color: rgb(22, 10, 124);
  font-size: 20px;
  padding-bottom: 10px;

}
.service-web p{
    font-size: 20px;
}