.service-web {
    padding: 0;
    margin-bottom: 30px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: 
    url("assets/background.png"), 
    url("assets/background.png"),
    url("assets/background.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 500px 500px, 300px 300px, 400px 400px;
  background-position: 
    top 100px left 40px, 
     top 20px right 50px,
    bottom 10px right 5px;

}
  .description-service-info{
    display: flex;
    justify-content: space-between;

    padding: 10px;
  }
  
.contact-service-button {
    border-radius: 10px;
    width:20%; 
    font-size: 20px;
    height: 40px;
    background-color: #1140db;
    color:#f9f9f9;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    margin-top: 20px;
    line-height: 18px;
   
}

.contact-service-button .contact-link {
    text-decoration: none;
    color:#f9f9f9;
    display: block; /* Ensures the link fills the button */

    height: 100%;
    text-align: center; /* Center the text */
    
  }
.service-web h1 {
    color: rgb(22, 10, 124);
    margin-top: 60px;
    text-align: center !important;
    display: block;
    width: auto;
    /* Typography and Spacing Enhancements */
    font-size: 2.5rem; /* Makes the heading more prominent */
    font-weight: bold; /* Emphasizes the heading */
    padding-bottom: 10px; /* Adds space for the bottom border */
    letter-spacing: 1px; /* Adds a bit of spacing between letters */
    
    /* Visual Emphasis */
    border-bottom: 6px solid rgb(22, 10, 124); /* Uncommented for visual emphasis */
    
    /* Shadow Enhancement */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Adds a subtle shadow */
  }
  
.description-service{
 max-width: 1200px;


 
}
.description-service p{
    padding-bottom: 20px;
   
    
   }
   .description-service h2{
    padding-bottom: 20px;
    display: block;
    padding-top: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
 
    
   }
.service-web img{
    width: 40%;
    margin: 0;
}
.services-list {
    list-style-type: none;
    padding: 0;
}

.services-list li {
    margin-bottom: 25px;
  
list-style-type: circle;
color: #3a383f;
font-size: 20px;
}


.services-list h3 {
    color: rgb(22, 10, 124);
  font-size: 20px;
  padding-bottom: 10px;

}
.service-web p{
    font-size: 20px;
}

@media (max-width: 1473px)  {
    .description-service{
       width: 40rem;
       
        
       }
       .description-service-info button{
        width: 40%;
        font-size: 16px;
        margin-bottom: 20px;
      }
       .service-web{

      
        margin: 40px;
        width: -webkit-fill-available;
       }
}
@media (max-width: 1251px) {
    .description-service{
       width: 60rem;
       
        
       }
       .description-service-info{
      
     
        /* flex-direction: column; */
        width: 100%;
        justify-content: space-between;
      }
      .description-service-info button{
        width: 70%;
        height: 20%;
        font-size: 14px;
        margin-bottom: 20px;
        margin-left: 60px;
        font-weight: bold;
       
      }
       .service-web{

background-image: none;
margin: 40px;
align-items: flex-start;
width: -webkit-fill-available;
       }
       .service-web h1{
        text-align: center !important;
        margin: 0; /* Reset margin if needed */
        display: block; 
      
       }
       .service-web img{
        width: 70%;
        margin: 0;
    }
  
}

@media (max-width: 700px) {
    .description-service{
       width: 18rem;
       
        
       }
       .service-web h1{
        font-size: 30px;
    
      
       }
       .service-web img{
        width: 70%;
        margin: 0 20px;
    }
    .description-service p{
        font-size: 20px;
        
         
        }
        
    }

    @media (max-width: 1000px) and (min-width:700px)  {
        .description-service{
           width: 40rem;
           
            
           }
        
        }