.service-web {
    padding: 0;
    margin-bottom: 30px;
    width: 203vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: 
    url("assets/background.png"), 
    url("assets/background.png"),
    url("assets/background.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 500px 500px, 300px 300px, 400px 400px;
  background-position: 
    top 100px left 40px, 
     top 20px right 50px,
    bottom 10px right 30px;

}
  
  
.service-web h1{
    color: rgb(22, 10, 124);
margin-top: 40px;
padding-bottom: 20px;
    border-bottom: 3px solid rgb(22, 10, 124);
    
}
.description-service{
 max-width: 1200px;

 
}
.description-service p{
    padding-bottom: 20px;
   
    
   }
   .description-service h2{
    padding-bottom: 20px;
 
    
   }
.service-web img{
    width: 40%;
    margin: 0;
}
.services-list {
    list-style-type: none;
    padding: 0;
}

.services-list li {
    margin-bottom: 25px;
  
list-style-type: circle;
color: #3a383f;
font-size: 20px;
}


.services-list h3 {
    color: rgb(22, 10, 124);
  font-size: 20px;
  padding-bottom: 10px;

}
.service-web p{
    font-size: 20px;
}

@media (max-width: 1473px)  {
    .description-service{
       width: 40rem;
       
        
       }
}
@media (max-width: 1251px) {
    .description-service{
       width: 45rem;
       
        
       }
       .service-web{

background-image: none;
margin: 40px;
align-items: flex-start;
       }
       .service-web h1{
        text-align: center;
      
       }
       .service-web img{
        width: 30%;
        margin: 0;
    }
  
}
@media (max-width: 700px) {
    .description-service{
       width: 25rem;
       
        
       }
       .service-web img{
        width: 20%;
        margin: 0;
    }
    .description-service p{
        font-size: 20px;
        
         
        }
    }